### RFM Î∂ÑÏÑù
####  ÏÇ¨Ïö©ÏûêÎ≥ÑÎ°ú ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê, ÏñºÎßàÎÇò ÏûêÏ£º, ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÏßÄÏóê Îî∞Îùº ÏÇ¨Ïö©ÏûêÎì§Ïùò Î∂ÑÌè¨Î•º ÌôïÏù∏Ìï† Ïàò ÏûàÍ≥†, ÏÇ¨Ïö©Ïûê Í∑∏Î£π(ÎòêÎäî Îì±Í∏â)ÏùÑ ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌïòÎäî Î∂ÑÏÑù Í∏∞Î≤ïÏù¥Îã§. Íµ¨Îß§ Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ Í≥†Í∞ùÏùÑ ÏÑ†Ï†ïÌï† Îïå Ïö©Ïù¥Ìïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞©Î≤ïÏù¥Î©∞, ÏÇ¨Ïö©ÏûêÎì§Ïùò ÌèâÏÜå Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Í∞Å ÏÇ¨Ïö©Ïûê Í∑∏Î£πÏùò ÌäπÏÑ±Ïóê Îî∞Îùº Ï∞®Î≥ÑÌôîÎêú ÎßàÏºÄÌåÖ Î©îÏÑ∏ÏßÄÎ•º Ï†ÑÎã¨Ìï† Ïàò ÏûàÎã§.

- Recency : ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Frequency : ÏñºÎßàÎÇò ÏûêÏ£º Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Monetary : ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÍ∞Ä

### Í≥†Í∞ù Î∂ÑÏÑù

> voice_no: ÏÜ°Ïû• Î≤àÌò∏. Î™ÖÏÇ¨ Í∞ôÏùÄ. Í∞Å ÏûëÏóÖÏóê Í≥†Ïú†ÌïòÍ≤å Ìï†ÎãπÎêú Î¨∏Ïûê 'I'ÏôÄ 6ÏûêÎ¶¨ Ï†ïÏàòÏùò Ï°∞Ìï©  
customer_id: Í≥†Í∞ùÎ≤àÌò∏. Î™ÖÏÇ¨ Í∞ôÏùÄ. Í∞Å ÏûëÏóÖÏóê Í≥†Ïú†ÌïòÍ≤å Ìï†ÎãπÎêú Î¨∏Ïûê 'C'ÏôÄ 6ÏûêÎ¶¨ Ï†ïÏàòÏùò Ï°∞Ìï©  
gender: Í≥†Í∞ù ÏÑ±Î≥ÑÏùò Î¨∏ÏûêÏó¥ Î≥ÄÏàò  
age: Í≥†Í∞ù Ïó∞Î†πÏùò ÏñëÏùò Ï†ïÏàò Î≥ÄÏàò  
category: Íµ¨Îß§Ìïú ÏÉÅÌíà Ïπ¥ÌÖåÍ≥†Î¶¨Ïùò Î¨∏ÏûêÏó¥ Î≥ÄÏàò 
quantity: Í±∞ÎûòÎãπ Í∞Å Ï†úÌíà(Ìï≠Î™©)Ïùò ÏàòÎüâ  
price: Îã®Í∞Ä. Ïà´Ïûê. Îã®ÏúÑÎãπ Ï†úÌíà Í∞ÄÍ≤©ÏùÄ ÌÑ∞ÌÇ§ Î¶¨Îùº(TL)  
payment_method: Í±∞ÎûòÏóê ÏÇ¨Ïö©Îêú Í≤∞Ï†ú Î∞©Î≤ï(ÌòÑÍ∏à, Ïã†Ïö© Ïπ¥Îìú ÎòêÎäî ÏßÅÎ∂à Ïπ¥Îìú)Ïùò Î¨∏ÏûêÏó¥ Î≥ÄÏàò  
invoice_date: ÏÜ°Ïû• ÎÇ†Ïßú. Í±∞ÎûòÍ∞Ä Î∞úÏÉùÌïú ÎÇ†  
shopping_mall: Í±∞ÎûòÍ∞Ä Ïù¥Î£®Ïñ¥ÏßÑ ÏáºÌïëÎ™∞ Ïù¥Î¶ÑÏùò Î¨∏ÏûêÏó¥ Î≥ÄÏàò

In [1]:
import pandas as pd

customer_shopping_df = pd.read_csv('./datasets/customer_shopping_data.csv')

# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ÌïòÍ∏∞
display(customer_shopping_df)

# Ïª¨ÎüºÏùò ÏûêÏÑ∏Ìïú Ï†ïÎ≥¥ ÌôïÏù∏ÌïòÍ∏∞
customer_shopping_df.info()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

### Í≤∞Ï∏°Ïπò Í≤ÄÏÇ¨
üìå Í≤∞Ï∏°Ïπò: Í∞íÏù¥ ÏóÜÎäî Í≤É, Null ÎòêÎäî NAÎ°ú ÌëúÌòÑ.

In [2]:
# Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò Í∞úÏàò Í≤ÄÏÇ¨
customer_shopping_df.isnull().sum().sum()

0

### Ï§ëÎ≥µ Ìñâ Í≤ÄÏÇ¨

In [3]:
customer_shopping_df.duplicated().sum()

0

### Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨
> Îç∞Ïù¥ÌÑ∞ Ïú†ÌòïÏùÑ Î≥ÄÌôòÌïòÍ±∞ÎÇò Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóê Ïö©Ïù¥Ìïú ÌòïÌÉúÎ°ú Î≥ÄÌôòÌïòÎäî ÏûëÏóÖÏùÑ ÌÜµÌï¥,  
Î∂àÌïÑÏöîÌïú Ïª¨Îüº ÏÇ≠Ï†ú, Ïó¥ Î≥ëÌï© Îì±ÏùÑ ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÏ†úÌïòÎäî Ï≤òÎ¶¨Î∞©Ïãù

- invoice_dateÎ•º Ïò§Îäò ÎÇ†ÏßúÎ°úÎ∂ÄÌÑ∞ Î™á Ïùº Ï∞®Ïù¥Ïù∏ÏßÄÎ°ú Î≥ÄÌôò
- customer_idÎ≥Ñ invoice_noÏùò Í∞úÏàòÎ•º Íµ¨Ìï¥ÏÑú Íµ¨Îß§ ÌöüÏàòÎ°ú Î≥ÄÌôò
- quantityÏôÄ priceÎ•º Í≥±ÌïòÏó¨(Ï¥ù Ï£ºÎ¨∏ Í∞ÄÍ≤©) monetaryÎ°ú Î≥ÄÌôò

In [5]:
today = '04/10/2023'
today = pd.to_datetime(today, dayfirst=True)

customer_shopping_df['Recency'] = today - pd.to_datetime(customer_shopping_df['invoice_date'], dayfirst=True)
customer_shopping_df['Recency'] = customer_shopping_df['Recency'].astype('int64') // 1000000000 // 60 // 60 // 24
customer_shopping_df.drop('invoice_date', axis=1, inplace=True)
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354

In [8]:
customer_shopping_df['Frequency'] = customer_shopping_df[['invoice_no']].count(axis=1)
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425,1
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661,1
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694,1
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871,1
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710,1
...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378,1
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742,1
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920,1
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932,1
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354,1

In [9]:
customer_shopping_df['Monetary'] = customer_shopping_df['quantity'] * customer_shopping_df['price']
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency,Monetary
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,425,1,7502.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,661,1,5401.53
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,694,1,300.08
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,871,1,15004.25
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,710,1,242.40
...,...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,378,1,293.25
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,742,1,20.92
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,920,1,20.92
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,932,1,16800.00
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,354,1,105.57

### Ï†ïÍ∑úÌôî(Normalization)
Í∞íÏùò Î≤îÏúÑÎ•º 0~1ÏÇ¨Ïù¥Î°ú Î≥ÄÌôòÏãúÏºú Î™®Îì† Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÌèâÎì±ÌïòÍ≤å ÎßåÎì§Ïñ¥Ï§ÄÎã§.  
ÏÑúÎ°ú Îã§Î•∏ Îã®ÏúÑÏùò Í∞íÏùÄ ÎπÑÍµêÎåÄÏÉÅÏù¥ Îê† Ïàò ÏóÜÎã§. ÏòàÎ•º Îì§Ïñ¥, 80kgÍ≥º 180cmÎäî ÎπÑÍµêÌï† Ïàò ÏóÜÍ∏∞Ïóê Ï†ïÍ∑úÌôîÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÎπÑÍµêÌïúÎã§.

In [13]:
from sklearn.preprocessing import MinMaxScaler

normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(customer_shopping_df[['Recency', 'Frequency', 'Monetary']])
rfm_normalization = pd.DataFrame(rfm_normalization, columns=['Recency', 'Frequency', 'Monetary'])
display(rfm_normalization)

        Recency  Frequency  Monetary
0      0.270101        0.0  0.285648
1      0.566583        0.0  0.205614
2      0.608040        0.0  0.011235
3      0.830402        0.0  0.571505
4      0.628141        0.0  0.009037
...         ...        ...       ...
99452  0.211055        0.0  0.010974
99453  0.668342        0.0  0.000598
99454  0.891960        0.0  0.000598
99455  0.907035        0.0  0.639928
99456  0.180905        0.0  0.003823

[99457 rows x 3 columns]

In [14]:
customer_shopping_df[['Recency', 'Frequency', 'Monetary']] = rfm_normalization[['Recency', 'Frequency', 'Monetary']]
customer_shopping_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,shopping_mall,Recency,Frequency,Monetary
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,0.270101,0.0,0.285648
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,0.566583,0.0,0.205614
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,Metrocity,0.608040,0.0,0.011235
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,0.830402,0.0,0.571505
4,I337046,C189076,Female,53,Books,4,60.60,Cash,Kanyon,0.628141,0.0,0.009037
...,...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,0.211055,0.0,0.010974
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,0.668342,0.0,0.000598
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,0.891960,0.0,0.000598
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,Istinye Park,0.907035,0.0,0.639928
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,0.180905,0.0,0.003823